.creator-btn {
    width: 3rem;
    height: 3rem;
}

.creator-btn-img {
    max-width: 90%;
    max-height: 90%;

    width: auto;
    height: auto;
}

.color-btn {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 25rem;
}

.items {
    width: 21rem;
}