<app-loading *ngIf="!imagesLoaded"></app-loading>

<div 
  class="p-4 p-lg-5"
  [style.display]="imagesLoaded ? 'block' : 'none'">

  <div class="creator-steps">
    <div class="step" [class.active]="currentStep >= 1">۱</div>
    <div class="line" [class.active]="currentStep >= 2"></div>
    <div class="step" [class.active]="currentStep >= 2">۲</div>
    <div class="line" [class.active]="currentStep >= 3"></div>
    <div class="step" [class.active]="currentStep >= 3">۳</div>
  </div>

  @if (currentStep === 1) {
    <app-creator-explanation></app-creator-explanation>
  }

  @if (currentStep === 2) {
    <app-look-creator [categories]="categories"></app-look-creator>
  }

  @if (currentStep === 3) {
    <app-personality-creator></app-personality-creator>
  }

  @if (currentStep === 4) {
    <app-creator-submit></app-creator-submit>
  }

  <div class="d-flex gap-3 justify-content-center">
    <button
      *ngIf="maxSteps > currentStep"
      class="btn btn-primary btn-lg"
      (click)="next()">
      بعدی
    </button>

    <button
      *ngIf="maxSteps === currentStep"
      class="btn btn-primary btn-lg"
      [disabled]="isSubmitting"
      (click)="submit()">

      {{ isSubmitting ? 'در حال ثبت... ' : 'ثبت' }}

      <span
        *ngIf="isSubmitting"
        class="spinner-border spinner-border-sm me-2"
        aria-hidden="true">
      </span>
    </button>

    <button
      *ngIf="currentStep > 1 && maxSteps >= currentStep"
      class="btn btn-primary btn-lg"
      (click)="previous()">
      قبلی
    </button>
  </div>
</div>

<ngb-toast
  *ngIf="showErrorToast"
  [autohide]="true"
  [delay]="6000"
  class="bg-danger text-white position-fixed top-0 start-50 translate-middle-x mt-5 p-2 toast">

  متاسفانه مشکلی در ثبت سفارش پیش آمده. لطفاً بعداً دوباره تلاش کنید و یا با ما در تماس باشید.

</ngb-toast>