<div class="p-5">
  <div class="creator-steps">
    <div class="step" [class.active]="currentStep >= 1">۱</div>
    <div class="line" [class.active]="currentStep >= 2"></div>
    <div class="step" [class.active]="currentStep >= 2">۲</div>
    <div class="line" [class.active]="currentStep >= 3"></div>
    <div class="step" [class.active]="currentStep >= 3">۳</div>
  </div>

  @if (currentStep === 1) {
    <app-creator-explanation></app-creator-explanation>
  }

  @if (currentStep === 2) {
    <app-look-creator></app-look-creator>
  }

  @if (currentStep === 3) {
    <app-personality-creator></app-personality-creator>
  }

  @if (currentStep === 4) {
    <app-creator-submit></app-creator-submit>
  }

  <div class="d-flex gap-3 justify-content-center">
    <button
      *ngIf="maxSteps > currentStep"
      class="btn btn-primary btn-lg"
      (click)="next()">
      بعدی
    </button>

    <button
      *ngIf="maxSteps === currentStep"
      class="btn btn-primary btn-lg"
      (click)="next()">
      ثبت
    </button>

    <button
      *ngIf="currentStep > 1 && maxSteps >= currentStep"
      class="btn btn-primary btn-lg"
      (click)="previous()">
      قبلی
    </button>
  </div>
</div>
