.creator-steps {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 3rem;
    max-width: 40rem;
}

.step {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    border: 4px dashed #dd9c7c;
    background: #eec8a3;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
}

.step.active {
    background: #a9bda0;
    border: 4px dashed #567c57;
    color: white;

    transform: scale(1.08);
}

.line {
    flex: 1;
    height: .35rem;

    margin: 0 .5rem;

    border-radius: 999px;
    background: #d8d8d8;

    transition: background .3s ease;
}

.line.active {
    background: #567c57;
}

ngx-file-drop {
  display: block;
  width: 100%;
  height: 12rem;
}

.upload-box {
  width: 100%;
  height: 100%;

  border: 2px dashed #a9bda0;
  border-radius: 1rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #567c57;
  background: #fafdf8;

  cursor: pointer;
  transition: .2s;
}

.upload-box:hover {
    background: #f3f8f1;
}

.preview-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.preview-card {
  position: relative;
}

.preview-card img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;

  border-radius: .75rem;
}

.preview-card button {
  position: absolute;
  top: .25rem;
  right: .25rem;

  width: 1.5rem;
  height: 1.5rem;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-card button i {
  font-size: 1.4rem;
  line-height: 1;

  transform: translateY(2px);
}