.creator-btn {
    width: 3em;
    height: 3em;
}

.creator-btn-img {
    max-width: 90%;
    max-height: 90%;

    width: auto;
    height: auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
}