.sample-container {
    width: min(50vw, 700px);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.real-img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.animation-img {
    flex: 1;
    max-width: 55%;
    height: auto;
}

.arrow {
    max-width: 30%;
    height: auto;
    flex-shrink: 0;
}