<section class="container py-4">

    <div class="text-center mb-5">
        <h1 class="display-3 fw-bold text-primary mb-3">
            <span class="h1" #title></span>
            <span class="h1" #cursor>|</span>
        </h1>

        <p class="lead">
            اینجا جاییه که میتونی یکی از سیب‌زمینی‌های دوست‌داشتنیمون رو به سرپرستی بگیری
            <br>
            <span class="text-primary"><em>یا</em></span>
            <br>
            یه سیب‌زمینی با شخصیت و خصوصیات ظاهری‌ای که دوست داری بسازی!
        </p>
    </div>

    <!-- Adopt -->

    <div class="row align-items-center my-5">

        <div class="col-lg-5 text-center">

            <div class="img-container">

                <img src="/fluid_primary.svg" class="bg-svg">

                <img
                    src="/POTATO chan.png"
                    class="hero-potato">

            </div>

        </div>

        <div class="col-lg-7">

            <h2>✨ یه دوست جدید منتظرته!</h2>

            <p>
                هر سیب‌زمینی شخصیت، اسم و داستان خودش رو داره.
                فقط کافیه یکی رو انتخاب کنی و به خونه ببری.
            </p>

            <a
                routerLink="/potatoes"
                class="btn btn-primary btn-lg">
                بزن بریم!
            </a>

        </div>

    </div>

    <!-- Creator -->

    <div class="row align-items-center my-5 flex-lg-row-reverse">

        <div class="col-lg-5 text-center">

            <div class="img-container">

                <img src="/fluid_secondary.svg" class="bg-svg">

                <img
                    src="/Anon POTATO.png"
                    class="hero-potato">

            </div>

        </div>

        <div class="col-lg-7">

            <h2>🎨 سیب‌زمینی خودت رو بساز</h2>

            <p>
                رنگ، لباس، عینک، کلاه و کلی جزئیات دیگه رو خودت انتخاب کن
                و یه سیب‌زمینی کاملاً منحصربه‌فرد داشته باش.
            </p>

            <a
                routerLink="/creator"
                class="btn btn-secondary btn-lg">
                شروع ساخت
            </a>

        </div>

    </div>

    <!-- Bottom -->

    <div class="text-center mt-5">

        <h4 class="mb-3">همه‌ سیب‌زمینی‌ها دست‌سازن و با عشق ساخته شدن ❤️</h4>

        <p>
            + همراه هر سیب‌زمینی یه دفترچه راهنمای نگهداری و یه کارت شناسایی
            برات ارسال میشه که کمکت میکنه دوست کوچولوت رو بهتر بشناسی و
            بهتر ازش مراقبت کنی!
        </p>

    </div>

</section>