<div class="potato-profile py-5 px-3 p-lg-5" *ngIf="potato as potato">

  <div class="profile-header mb-3">

    <div class="photo-section d-flex justify-content-center align-items-center p-3">

      <img
        [src]="potato.image"
        [alt]="potato.name"
        class="potato-img">

      <img
        src="/textures/tape.png"
        alt=""
        class="tape-image">

    </div>

    <div class="basic-info p-2 p-lg-4">

      <h2 class="mb-3">{{ potato.name }}</h2>

      <table>

        <tr>
          <td>کد ملی</td>
          <td>{{ potato.id }}</td>
        </tr>

        <tr>
          <td>سایز</td>
          <td>{{ size.width.toLocaleString('fa-IR') }} سانتی متر ({{ size.code }})</td>
        </tr>

        <tr>
          <td>ماه تولد</td>

          <td [style.background]="birthMonthElement.color" class="text-light bd-td pe-3">

            <div class="bd-text">
              {{ potato.birthMonth }}
              &nbsp;
              ✦
              <span class="lg-view">
                &nbsp;
              </span>
              <span class="sm-view">
                <br>
              </span>
              عنصر: 
              {{ birthMonthElement.name }}
            </div>
            
            <img [src]="'/elements/' + birthMonthElement.img" class="element-img">

          </td>

        </tr>

        <tr>

          <td>تیپ شخصیتی</td>

          <td [style.background]="mbtiType.color" class="text-light pe-3">
            {{ mbtiType.code }}
            &nbsp;
            ✦
            &nbsp;
            {{ mbtiType.name }}
          </td>

        </tr>

      </table>

    </div>

  </div>

  <div class="pe-lg-5">
    
    <section>

      <h4>
        نقاط قوت
        <i class="bi bi-stars me-2"></i>
      </h4>

      <div class="tags">

        <span
          class="badge bg-success"
          *ngFor="let strength of potato.strengths">

          {{ strength }}

        </span>

      </div>

    </section>


    <section>

      <h4>
        نقاط ضعف
        <i class="bi bi-exclamation-diamond me-2"></i>
      </h4>

      <div class="tags">

        <span
          class="badge bg-danger"
          *ngFor="let weakness of potato.weaknesses">

          {{ weakness }}

        </span>

      </div>

    </section>


    <section>

      <h4>
        خوراکی مورد علاقه
        <i class="bi bi-cup-hot me-2"></i>
      </h4>

      <p>{{ potato.favoriteFood }}</p>

    </section>


    <section>

      <h4>
        سرگرمی مورد علاقه
        <i class="bi bi-controller me-2"></i>
      </h4>

      <p>{{ potato.favoriteHobby }}</p>

    </section>


    <section>

      <h4>
        یه فکت جالب راجع به {{ potato.name }}
        <i class="bi bi-lightbulb me-2"></i>
      </h4>

      <blockquote class="m-0 p-3">

        {{ potato.funFact }}

      </blockquote>

    </section>
  </div>

  <img src="/textures/hr.png" class="hr my-4">

  <div
    class="signature-section d-flex flex-column align-items-center mt-5"
    (click)="sign()"
    [class.signed]="signed">

    <p>
      در صورت تمایل برای به سرپرستی گرفتن این سیب‌زمینی، فضای زیر را امضاء کنید (ضربه بزنید).
    </p>

    <h5 class="mt-3">امضای سرپرست</h5>

    <div class="signature-box mb-3">

        <div class="signature-wrapper">

          <img
            src="/signature.png"
            class="w-100 d-block">

        </div>

        <img
          src="/stamp.png"
          class="stamp">

    </div>

  </div>

</div>


<ng-template #adoptionModal let-modal *ngIf="potato as potato">

  <div class="modal-header d-flex justify-content-between align-items-start">

    <h4 class="modal-title ps-3">
      به نظر می‌رسه که سرنوشت این سیب‌زمینی با تو گره خورده... 🌱
    </h4>

    <button
      type="button"
      class="btn-close m-0"
      aria-label="Close"
      (click)="modal.dismiss()">
    </button>

  </div>


  <div class="modal-body text-center p-5">

    <p class="mb-5">
       برای تکمیل سرپرستی این سیب‌زمینی، در تلگرام یا واتساپ با شماره ۰۹۹۱۲۱۳۱۴۱۵ تماس بگیرید و کد زیر رو به ما اعلام کنید!
    </p>
    <p>
      <b>
        کد ملی این سیب‌زمینی:  {{ potato.id }}
      </b>
    </p>

  </div>

</ng-template>