<div class="not-found-container py-5">
  <img
    src="/textures/fluid_secondary.svg"
    class="bg-svg"
    alt="">

  <div #container>
    <div class="potato-scene">

        <!-- Butterfly -->
        <img
            src="/loading/butterfly.gif"
            class="butterfly"
            alt="">

        <div class="potato-character">
            <img
            src="/loading/potato.png"
            class="potato-image"
            alt="سیب‌زمینی">

            <img
            src="/loading/eyes.png"
            class="potato-eyes"
            alt="">
        </div>

    </div>

    <h4 class="position-relative">
      در حال بارگذاری...
    </h4>
  </div>
</div>