<div class="potato-card h-100" [routerLink]="['/adoption', potato.id]">

  <div class="card-inner h-100">

    <div class="card-top">

        <span
            class="element-badge mt-1 me-1">

            <img
            [src]="'/elements/' + birthMonthElement.img"
            [alt]="birthMonthElement.name"
            class="w-75">
        </span>

        <h5 class="m-0 me-2"><b>{{ potato.name }}</b></h5>

        <span
            class="mbti-badge px-3 pt-1"
            [style.background]="mbtiType!.color">

            {{ mbtiType!.code }}

        </span>

    </div>

    <div class="p-2">

        <div class="photo-section d-flex justify-content-center align-items-center mt-4 my-3">
            <img
                class="potato-image w-100 mb-3"
                [src]="potato.image"
                [alt]="potato.name">

            <img
                src="/textures/tape.png"
                alt=""
                class="tape-image">
        </div>


        <table class="info-table w-100">

            <tr>
                <td>قیمت</td>
                <td>{{ potato.price.toLocaleString('fa-IR') }} تومان</td>
            </tr>

            <tr>
                <td>سایز</td>
                <td>{{ potato.size }}</td>
            </tr>

        </table>
    </div>

  </div>

</div>