<div class="potato-card p-3">

  <div 
    class="card-inner"
    [style.backgroundImage]="'url(' + '/textures/' + birthMonthElement.texture_img + ')'">

    <div class="card-top">

        <div
            class="element-badge mt-1 me-1"
            [style.background]="birthMonthElement.color + '33'">

            <img
            [src]="'/elements/' + birthMonthElement.img"
            [alt]="birthMonthElement.name"
            class="w-75">

        </div>

        <h5 class="m-0 me-2"><b>{{ potato.name }}</b></h5>

        <span
            class="mbti-badge px-3 pt-1"
            [style.background]="mbtiType!.color">

            {{ mbtiType!.code }}

        </span>

    </div>

    <div class="p-2">
        <img
            class="potato-image w-100 mb-3"
            [src]="potato.image"
            [alt]="potato.name">


        <table class="info-table w-100">

            <tr>
                <td>قیمت</td>
                <td>{{ potato.price.toLocaleString('fa-IR') }} تومان</td>
            </tr>

            <tr>
                <td>سایز</td>
                <td>{{ potato.size }}</td>
            </tr>

        </table>
    </div>

  </div>

</div>