.potato-card {

    width: 20rem;

    height: fit-content;

    border-radius: 2rem;

    cursor: pointer;

    transition:
        transform .18s ease,
        box-shadow .18s ease;

}

.potato-card:hover {

    transform: translateY(-6px);

}

.potato-card:active {

    transform:
        scale(.97);

}

.card-inner {

    background-image: url('/textures/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    padding: 2.5rem 1.25rem 2rem 3.25rem;

    height: fit-content;

    filter: drop-shadow(0 10px 20px rgba(0,0,0,.22));

}

.card-top {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.card-top h5 {
    flex: 1;

    text-align: right;
}

.mbti-badge {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    line-height: 1;

    color: white;

    margin-left: -1rem;
    margin-right: 1rem;

    border-radius: 0.7rem;

    box-shadow: 0 2px 6px rgba(0,0,0,.15);

}

.element-badge {

    width: 2.2em;
    height: 2.2em;

    display: flex;
    justify-content: center;
    align-items: center;

}

.photo-section {

    position: relative;
    display: inline-block;

}

.potato-image {

    object-fit:contain;

    border-radius: 0.5rem;

    filter:
        drop-shadow(0 10px 12px rgba(0,0,0,.22));

}

.tape-image {

    position: absolute;
    top: -10%;

    width: 60%;

    z-index: 1;

    opacity: 0.9;

}

.info-table {

    border-spacing:0;

    overflow:hidden;

}

.info-table td {

    padding: 0.2rem 0.7rem;

    font-weight:600;

    border: none !important;

}

.info-table tr:not(:last-child) td {

    border-bottom:1px solid rgba(0,0,0,.08);

}

.info-table td:last-child {

    text-align:left;

}

.info-table td:first-child {

    width:40%;

    color:#666;

}