<div class="d-flex flex-column align-items-center py-5">
    <div class="mb-3 img-container">
        <img src="/textures/rays.png" class="rays">

        <img src="{{ renderer.lastRenderedImage }}" class="final-potato">
    </div>

    <h4 class="pt-3">
        همه چیز آمادست!
    </h4>
    <p class="explanation">
        سفارش شما با موفقیت ثبت شد. جهت واریز وجه سفارش و پیگیری اون در تلگرام یا واتساپ با شماره {{ phoneNumber }} تماس بگیرید و کد زیر رو به ما اعلام کنید.
    </p>
    <p>
        <b>
           کد ملی سیب‌زمینی شما: {{ state.nationalID }}
        </b>
    </p>
</div>